<p>Component Uses API call</p>
<br>
<div class="col-sm-4 jumbotron" *ngFor="let user of userData">
    <h4><span class="glyphicon glyphicon-user"></span>&nbsp; User_{{user.userId}}.{{user.id}}</h4>
    <hr class="my-4">
    <p><strong>Title:</strong> {{user.title}}</p>
    <p class="lead"><strong>Completed:</strong> &nbsp;
        <label for="chkYes">Yes</label><input type="checkbox" id="chkYes" name="chkYes" disabled [checked]="user.completed">&nbsp;
        <label for="chkNo">No</label><input type="checkbox" id="chkNo" name="chkNo" disabled [checked]="!user.completed">
    </p>
    
</div>